span.fechar-modal, #fechar-1{
    float: right;
    background-color: #E2953A;
    border: none;
    height: 25px;
    width: 25px;
    font-size: 23px;
    border-radius: 50%;
    color: white;
    margin: 10px;
    display: flex;
}

span.fechar-modal, #fechar-2{
    float: right;
    background-color: #E2953A;
    border: none;
    height: 25px;
    width: 25px;
    font-size: 23px;
    border-radius: 50%;
    color: white;
    margin: 10px;
    display: flex;
}

span.fechar-modal, #fechar{
    float: right;
    background-color: #E2953A;
    border: none;
    height: 25px;
    width: 25px;
    font-size: 23px;
    border-radius: 50%;
    color: white;
    margin: 10px;
    display: flex;
}

.form-equi{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 20px;
}

.form-equi .titulo{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.form-equi .titulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0px 0px -5px;
    height: 3px;
    width: 112px;
    background: linear-gradient(135deg, #62A074, #E2953A);
}
.form-equi form .form-corpo{
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .form-corpo .campo{
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 20px); */
}
.form-corpo .campo .campo-titulo{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-corpo .campo input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 13px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.form-corpo .campo input:focus,
.form-corpo .campo input:valid{
    border-color: #E2953A;
}
.form-corpo .campo select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 13px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #fff;
}
.form-corpo .campo select:hover,
.form-corpo .campo select:focus{
    border-color: #E2953A;
}
.form-corpo .campo textarea{
    resize: none;
    height: 100px;
    width: 100%;
    outline: none;
    border-radius: 13px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #fff;
}
.form-corpo .campo textarea:hover,
.form-corpo .campo textarea:focus{
    border-color: #E2953A;
}

form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 19px;
    font-weight: 600;
    border-radius: 20px;
    letter-spacing: 1px;
    background: #E2953A;
}
@media (max-width: 584px){
    .form-equi{
        max-width: 100%;
    }
    form .form-corpo .campo{
        margin-bottom: 15px;
        width: 100%;
    }
    .form-equi form .form-corpo{
        max-height: 300px;
        overflow-y: scroll;
    }
    .form-corpo::-webkit-scrollbar{
        width: 0;
    }
}